@model BlogPost

@if (Model != null)
{
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6">

                @{
                    ViewData["Title"] = Model.PageTitle;
                }

                <h1 class="mb-3">@Model.PageTitle</h1>

                <div class="d-flex justify-content-between mb-3">
                    <span class="text-secondary">@Model.PublishedDate.ToShortDateString()</span>
                </div>

                <div class="mb-3">
                    @if (Model.Tags != null)
                    {
                        foreach (var tag in Model.Tags)
                        {
                            <a href="/tags/@tag.Name">
                                <span class="badge bg-dark">@tag.Name</span>
                            </a>
                        }
                    }
                </div>

                <img src="@Model.FeaturedImageUrl" alt="@@Model.PageTitle" class="mb-2 d-block img-fluid" />

                <div class="mb-3 blog-details">
                    @Html.Raw(Model.Content)
                </div>

                @if (Model.TouristObject != null)
                {
                    <div class="mt-4 p-3 bg-light rounded">
                        <h4 class="mb-3">About the Tourist Object</h4>
                        <p><strong>Name:</strong> @Model.TouristObject.Name</p>
                        <p><strong>Address:</strong> @Model.TouristObject.Address</p>
                        <p><strong>Coordinates:</strong> Latitude: @Model.TouristObject.Latitude, Longitude: @Model.TouristObject.Longitude</p>
                        <p><strong>Opening Hours:</strong> @Model.TouristObject.OpeningTime.ToString(@"hh\:mm") - @Model.TouristObject.ClosingTime.ToString(@"hh\:mm")</p>
                    </div>
                }
            </div>
        </div>
    </div>
}
else
{
    <div class="container mt-3">
        <h2>Blog post not found!</h2>
    </div>
}
