@model IEnumerable<UserRolesViewModel>

<div>
    <div class="bg-secondary bg-opacity-10 py-2 mb-5">
        <div class="container">
            <h1>Users</h1>
        </div>
    </div>
    <div>
        <div class="pb-3">
            <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Register">
                Create User
            </a>
        </div>
    </div>
    <div class="container">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Role</td>
                    <td>UserName</td>
                    <td>Email</td>
                    <td>Phone</td>
                    <td>Verified</td>
                    <td>Block/Unblock</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.UserId</td>
                        <td>@string.Join(", ", user.Roles)</td>
                        <td>@user.UserName</td>
                        <td>@user.Email</td>
                        <td>@user.PhoneNumber</td>
                        <td class="text-center">
                            @if (user.AccountVerified)
                            {
                                <i class="bi bi-check-lg"></i>
                            }
                            else
                            {
                                <i class="bi bi-x-lg"></i>
                            }
                        </td>
                        <td>
                            @if (!user.IsBanned)
                            {
                                <div class="d-flex align-items-center">
                                    <select id="banDuration_@user.UserId" class="form-select me-2" onchange="updateBanDuration('@user.UserId')">
                                        <option value="Day">Day</option>
                                        <option value="Week">Week</option>
                                        <option value="Month">Month</option>
                                        <option value="Year">Year</option>
                                        <option value="Forever">Forever</option>
                                    </select>
                                    <form asp-controller="User" asp-action="LockUnlock" asp-route-id="@user.UserId" method="post">
                                        <input hidden id="banDurationInput_@user.UserId" name="banDuration" value="Day">
                                        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to ban @user.UserName?');">BAN</button>
                                    </form>
                                </div>
                            }
                            else
                            {
                                <form asp-controller="User" asp-action="LockUnlock" asp-route-id="@user.UserId" method="post">
                                    <input hidden id="banDurationInput_@user.UserId" name="banDuration" value="Unban">
                                    <button type="submit" class="btn btn-success w-100" onclick="return confirm('Are you sure you want to unban @user.UserName?');">UNBAN</button>
                                </form>
                            }
                        </td>
                        <td>
                            <div class="d-flex align-items-center">
                                <a asp-controller="User" asp-action="Update" asp-route-id="@user.UserId" class="btn btn-primary me-2">
                                    Edit
                                </a>
                                <form asp-controller="User" asp-action="Delete" asp-route-id="@user.UserId" method="post" class="d-inline">
                                    <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete @user.UserName?');">Delete</button>
                                </form>
                            </div>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script>
        function updateBanDuration(userId) {
            var selectedDuration = document.getElementById('banDuration_' + userId).value;
            document.getElementById('banDurationInput_' + userId).value = selectedDuration;
        }
    </script>
}