@model UserRolesViewModel

<div class="bg-secondary bg-opacity-10 py-2 mb-5">
    <div class="container">
        <h1>Update User</h1>
    </div>
</div>

<div>
    <div class="container">
        <form method="post">
            <input asp-for="UserId" hidden />

            <div class="mb-3">
                <label asp-for="UserName" class="form-label">UserName</label>
                <input type="text" class="form-control" id="username" asp-for="UserName" required>
                <span class="text-danger" asp-validation-for="UserName"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label">Email</label>
                <input type="text" class="form-control" id="email" asp-for="Email" required>
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
            <div class="mb-3">
                <label asp-for="PhoneNumber" class="form-label">Phone</label>
                <input type="text" class="form-control" id="phonenumber" asp-for="PhoneNumber">
                <span class="text-danger" asp-validation-for="PhoneNumber"></span>
            </div>
            <div class="mb-3">
                <div>
                    <label asp-for="AvatarImage" class="form-label">Avatar</label>
                </div>
                <div class="mb-3">
                    <img src="@Model.AvatarImageUrl" id="featuredImageDisplay" style="width:256px" />
                </div>
                <input type="text" hidden class="form-control" id="avatarImageUrl" asp-for="AvatarImageUrl">
                <div>
                    <input type="file" id="avatarImage" name="AvatarImage" asp-for="AvatarImageUrl">
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Role</label>
                <select class="form-control" asp-for="Roles">
                    @foreach (var role in Model.AllRoles)
                    {
                        <option value="@role" selected="@Model.Roles.Contains(role)">@role</option>
                    }
                </select>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="accountVerified" asp-for="AccountVerified">
                <label class="form-check-label" asp-for="AccountVerified">Account Verified</label>
                <span class="text-danger" asp-validation-for="AccountVerified"></span>
            </div>

            <div class="mb-3 d-flex justify-content-between">
                <button class="btn btn-primary" type="submit">Submit</button>
                <a href="@Url.Action("Index", "User")" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        const avatarImageElement = document.getElementById('avatarImage');
        const avatarImageUrl = document.getElementById('avatarImageUrl');
        const avatarImageDisplay = document.getElementById('avatarImageDisplay');

        async function uploadAvatarImage(e) {
            console.log(e.target.files[0]);

            let data = new FormData();
            data.append('file', e.target.files[0]);

            await fetch('/api/image', {
                method: 'POST',
                headers: {
                    'Accept': '*/*',
                },
                body: data
            }).then(response => response.json())
                .then(result => {
                    avatarImageUrl.value = result.link;
                    avatarImageDisplay.style.display = 'block';
                    avatarImageDisplay.src = result.link;
                });
        }

        avatarImageElement.addEventListener('change', uploadAvatarImage);
    </script>
}