@model TripGuide.Models.ViewModels.BlogPostViewModel

<div class="bg-secondary bg-opacity-10 py-2 mb-5">
    <div class="container">
        <h1>Blog Posts</h1>
    </div>
</div>
<div>
    <div class="pb-3">
        <a class="btn btn-primary" asp-area="Admin" asp-controller="BlogPost" asp-action="Create">
            Create Blog Post
        </a>
    </div>
</div>

@if (Model.BlogPosts != null && Model.BlogPosts.Any())
{
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Page Title</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var blogPost in Model.BlogPosts)
                {
                    <tr>
                        <td>@blogPost.Id</td>
                        <td>@blogPost.PageTitle</td>
                        <td><a href="@Url.Action("Update", "BlogPost", new { id = blogPost.Id })">View</a></td>
                        <td>
                            <form asp-action="Delete" method="post" style="display:inline;">
                                <input type="hidden" name="id" value="@blogPost.Id" />
                                <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this item?');">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <nav aria-label="Blog Post pagination">
            <ul class="pagination justify-content-center">
                @if (Model.HasPreviousPage)
                {
                    <li class="page-item">
                        <a class="page-link" asp-action="List" asp-route-pageNumber="@(Model.PageNumber - 1)">Previous</a>
                    </li>
                }
                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                        <a class="page-link" asp-action="List" asp-route-pageNumber="@i">@i</a>
                    </li>
                }
                @if (Model.HasNextPage)
                {
                    <li class="page-item">
                        <a class="page-link" asp-action="List" asp-route-pageNumber="@(Model.PageNumber + 1)">Next</a>
                    </li>
                }
            </ul>
        </nav>
    </div>
}
else
{
    <div class="container">
        <p>No blog posts were found!</p>
    </div>
}