@model BlogPost

<div class="bg-secondary bg-opacity-10 py-2 mb-5">
    <div class="container">
        <h1>Update Blog Post about Tourist Object</h1>
    </div>
</div>

<div>
    <div class="container">
        <form asp-action="Update" method="post" enctype="multipart/form-data">
            <input asp-for="Id" type="hidden" />

            <div class="mb-3">
                <label for="pageTitle" class="form-label">Page Title</label>
                <input type="text" required class="form-control" id="pageTitle" asp-for="PageTitle">
                <span class="text-danger" asp-validation-for="PageTitle"></span>
            </div>

            <div class="mb-3">
                <label for="content" class="form-label">Content</label>
                <textarea class="form-control" required id="content" asp-for="Content"></textarea>
                <span class="text-danger" asp-validation-for="Content"></span>
            </div>

            <div class="mb-3">
                <label for="shortDescription" class="form-label">Short Description</label>
                <input type="text" required class="form-control" id="shortDescription" asp-for="ShortDescription">
                <span class="text-danger" asp-validation-for="ShortDescription"></span>
            </div>

            <div class="mb-3">
                <label asp-for="FeaturedImage" class="form-label">Featured Image Upload</label>
                <input type="file" id="featuredImageUpload" name="FeaturedImage" asp-for="FeaturedImageUrl">
                <img src="@Model.FeaturedImageUrl" id="featuredImageDisplay" style="width:300px" />
            </div>

            <div class="mb-3">
                <label for="featuredImageUrl" class="form-label">Featured Image Url</label>
                <input type="text" required class="form-control" id="featuredImageUrl" asp-for="FeaturedImageUrl">
                <span class="text-danger" asp-validation-for="FeaturedImageUrl"></span>
            </div>

            <div class="mb-3">
                <label for="urlHandle" class="form-label">Url Handle</label>
                <input type="text" required class="form-control" id="urlHandle" asp-for="UrlHandle">
                <span class="text-danger" asp-validation-for="UrlHandle"></span>
            </div>

            <div class="mb-3">
                <label for="publishedDate" class="form-label">Published Date</label>
                <input type="date" required class="form-control" id="publishedDate" asp-for="PublishedDate">
                <span class="text-danger" asp-validation-for="PublishedDate"></span>
            </div>

            <div class="d-flex justify-content-center mb-3">
                <div class="btn-group" role="group" aria-label="Type Filter">
                    <button type="button" class="btn btn-primary" id="selectTouristObject">Tourist Object</button>
                    <button type="button" class="btn btn-primary" id="selectRoute">Route</button>
                </div>
            </div>

            <div id="touristObjectSection" style="display: none;">
                <div class="mb-3">
                    <label for="touristObject" class="form-label">Tourist Object</label>
                    <select class="form-select" id="touristObject" name="TouristObject" asp-items="@(new SelectList(ViewBag.TouristObjects, "Id", "Name"))">
                        <option value="">Select a Tourist Object</option>
                    </select>
                    <span class="text-danger" asp-validation-for="TouristObject"></span>
                </div>
                <div id="touristObjectDetails" style="display: none;">
                    <input type="text" hidden class="form-control" id="touristObjectId" name="TouristObjectId" />
                </div>
            </div>

            <div id="tripRouteSection" style="display: none;">
                <div class="mb-3">
                    <label for="tripRoute" class="form-label">Route</label>
                    <select class="form-select" id="tripRoute" name="TripRoute" asp-items="@(new SelectList(ViewBag.TripRoutes, "Id", "Name"))">
                        <option value="">Select a Route</option>
                    </select>
                    <span class="text-danger" asp-validation-for="TripRoute"></span>
                </div>
                <div id="tripRouteDetails" style="display: none;">
                    <input type="text" hidden class="form-control" id="tripRouteId" name="TripRouteId" />
                </div>
            </div>

            <div id="touristObjectDetails" style="display: none;">
                <div id="touristObjectDetails" style="display: none;">
                    <input type="text" readonly class="form-control" id="id" asp-for="TouristObjectId">
                </div>
                <div class="mb-3">
                    <input type="text" readonly class="form-control" id="name" style="display: none;">
                </div>
                <div class="mb-3">
                    <label for="address" class="form-label">Address</label>
                    <input type="text" readonly class="form-control" id="address">
                </div>
                <div class="mb-3">
                    <label for="latitude" class="form-label">Latitude</label>
                    <input type="text" readonly class="form-control" id="latitude">
                </div>
                <div class="mb-3">
                    <label for="longitude" class="form-label">Longitude</label>
                    <input type="text" readonly class="form-control" id="longitude">
                </div>
                <div class="mb-3">
                    <label for="openingTime" class="form-label">Opening Time</label>
                    <input type="text" readonly class="form-control" id="openingTime">
                </div>
                <div class="mb-3">
                    <label for="closingTime" class="form-label">Closing Time</label>
                    <input type="text" readonly class="form-control" id="closingTime">
                </div>
            </div>

            <div class="mb-3">
                <label for="tags" class="form-label">Tags (comma separated)</label>
                <input type="text" id="tags" class="form-control" asp-for="Tags" value="@string.Join(", ", @Model.Tags.Select(t => t.Name))" />
                <span class="text-danger" asp-validation-for="Tags"></span>
            </div>


            <div class="mb-3">
                <button class="btn btn-primary" type="submit">Update</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const selectTouristObjectBtn = document.getElementById('selectTouristObject');
            const selectRouteBtn = document.getElementById('selectRoute');
            const touristObjectSection = document.getElementById('touristObjectSection');
            const tripRouteSection = document.getElementById('tripRouteSection');
            const touristObjectSelect = document.getElementById('touristObject');
            const touristObjectDetails = document.getElementById('touristObjectDetails');
            const tripRouteSelect = document.getElementById('tripRoute');
            const tripRouteDetails = document.getElementById('tripRouteDetails');

            selectTouristObjectBtn.addEventListener('click', function () {
                touristObjectSection.style.display = 'block';
                tripRouteSection.style.display = 'none';
            });

            selectRouteBtn.addEventListener('click', function () {
                touristObjectSection.style.display = 'none';
                tripRouteSection.style.display = 'block';
            });

            touristObjectSelect.addEventListener('change', function () {
                const selectedObjectId = touristObjectSelect.value;
                if (selectedObjectId) {
                    fetch(`/api/touristObject/${selectedObjectId}`)
                        .then(response => response.json())
                        .then(data => {
                            document.getElementById('touristObjectId').value = data.id || '';
                            document.getElementById('address').value = data.address || '';
                            document.getElementById('latitude').value = data.latitude || '';
                            document.getElementById('longitude').value = data.longitude || '';
                            document.getElementById('openingTime').value = data.openingTime || '';
                            document.getElementById('closingTime').value = data.closingTime || '';

                            touristObjectDetails.style.display = 'block';
                        })
                        .catch(error => {
                            console.error('Error fetching tourist object data:', error);
                            touristObjectDetails.style.display = 'none';
                        });
                } else {
                    touristObjectDetails.style.display = 'none';
                }
            });

            tripRouteSelect.addEventListener('change', function () {
                const selectedRouteId = tripRouteSelect.value;
                if (selectedRouteId) {
                    fetch(`/api/route/${selectedRouteId}`)
                        .then(response => response.json())
                        .then(data => {
                            document.getElementById('tripRouteId').value = data.id || '';
                            tripRouteDetails.style.display = 'block';
                        })
                        .catch(error => {
                            console.error('Error fetching route data:', error);
                            tripRouteDetails.style.display = 'none';
                        });
                } else {
                    tripRouteDetails.style.display = 'none';
                }
            });
        });

        var editor = new FroalaEditor('#content');

        const featuredImageUploadElement = document.getElementById('featuredImageUpload');
        const featuredImageUrl = document.getElementById('featuredImageUrl');
        const featuredImageDisplay = document.getElementById('featuredImageDisplay');

        async function uploadFeaturedImage(e) {
            console.log(e.target.files[0]);

            let data = new FormData();
            data.append('file', e.target.files[0]);

            await fetch('/api/image', {
                method: 'POST',
                headers: {
                    'Accept': '*/*',
                },
                body: data
            }).then(response => response.json())
                .then(result => {
                    featuredImageUrl.value = result.link;
                    featuredImageDisplay.style.display = 'block';
                    featuredImageDisplay.src = result.link;
                });
        }

        featuredImageUploadElement.addEventListener('change', uploadFeaturedImage);
    </script>
}